# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# MkDocs generated site
site/

# PrintSwitch runtime logs
logs/*.txt
logs/*.log

# Windows
Thumbs.db
Desktop.ini

# VS Code local settings
.vscode/